.no-text-wrap {
  white-space: nowrap;
}

mat-error:not(:first-of-type) { display: none; }

dyn-field-set {
  fieldset {
    border: 1px solid #c4c4c4;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;

    legend {
      padding: 0.1em 0.3em;
      border: 1px solid #c4c4c4;
      color: #a9a9a9;
      font-size: 90%;
      border-radius: 5px;
    }
  }
}
